html, body{
	height:100%;
	width:100%;
	font-family: 'Oswald', sans-serif;
}

.navbar{
	background-color:#9a0007;
	padding:0.5%;
	font-size:1.2em;
}


#home{
   
	background: url(img/pireneje.jpg) no-repeat center 90% fixed;
	
	height:60%;
	width:100%;
	position:relative;
	background-size:cover;
    
}
#home h1{
    font-size: 800%;

}
.landing-text{
	position:relative;
	text-align:center;
	top:50%;
	transform:translateY(-50%);
    color:#9a0007;
	
}

h1{
    font-size:550%;
}
#lata60-banner{
    	background: url(img/cars.jpg) no-repeat center 75% fixed;
    
	
	height:75%;
	width:100%;
	position:relative;
	background-size:cover;
    
}
#lata50-banner{
    	background: url(img/header-50.jpg) no-repeat center center fixed;
	
	height:75%;
	width:100%;
	position:relative;
	background-size:cover;
    
}
.dekada{
    padding-bottom: 15%;
    padding-top: 15%;
    font-size:650%;
    
       
}
a{
    color:#9a0007;

}


.dekada0{
  
    padding-bottom: 30px;
    text-align: center;
}
h2{
   font-size: 2.1em;
}
.footer{
    text-align: center;
    background-color: #8b6b61;
   
    color:white;
    padding: 0.5%;
    
}
#lata50{
    background: url(img/everest.jpg) no-repeat center center;
    transition: all 0.3s ease-in-out;
    
  
}
#lata50:hover{
    transform: scale(1.14);
}

#lata60{
     background: url(img/zamach.jpg) no-repeat center center;
    transition: all 0.3s ease-in-out;
}
#lata60:hover{
    transform: scale(1.14);
}

